/*! ОБНУЛЕНИЕ */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html, 
body {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  background-color: #fff;
  color: #141414;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; 
}

/*! ================================== */



/*! STAGE OF WORK */


.rainbow {
  background: linear-gradient(90deg, #572EFD 31.65%, #FF43BB 86.55%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 36px;
  font-weight: 700;
}




/*! STAGE OF WORK */
.partners__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*! WHOOCK IT */
.whoock-it__wrapper {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 140px;
}
.whoock-it__text {
  font-size: 64px;
  line-height: 112%;
  font-weight: 700;
}
.whoock-it__text span {
  font-size: 64px;
  font-weight: 700;
}
.whoock-it__button {
  display: inline-block;
  margin-left: auto;
  margin-top: 40px;
}
.start-creating {
  padding: 15px 70px;
  background: linear-gradient(90deg, #572EFD 0%, #FF43BB 25%, #572EFD 95%);
  color: #fff;
  border-radius: 30px;
  background-position: 0% 150%;
  transition: all 0.6s ease;
  background-size: 400%;
  font-weight: 600;
}
.start-creating:hover {
  background-position: 70% 140%;
  box-shadow: 0 0 25px 4px rgba(248, 96, 241, 0.368);
}
