/*! ОБНУЛЕНИЕ */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html, 
body {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  background-color: #fff;
  color: #141414;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; 
}

/*! ================================== */



/*! STAGE OF WORK */

section {
  margin-top: 80px;
}

.rainbow {
  background: linear-gradient(90deg, #572EFD 31.65%, #FF43BB 86.55%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 36px;
  font-weight: 700;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__item {
  box-sizing: border-box;
  width: 25%;
  padding: 20px;
  position: relative;
  padding-bottom: 48px;
}
.about__item:hover .about__item-arrow {
  right: 8px;
}
.about__item:nth-child(1) {
  padding: 0;
  padding-right: 10px;
}
.about__item:nth-child(2) {
  border: 2px solid #9F37E1;
  border-radius: 14px 0 0 0;
  border-right: 0px;
}
.about__item:nth-child(3),
.about__item:nth-child(4) {
  border: 2px solid #9F37E1;
}
.about__item:nth-child(4) {
  border-radius: 0 14px 14px 0;
  border-left: 0px;
}
.about__item:nth-child(5) {
  border: 2px solid #9F37E1;
  border-radius: 14px 0 0 14px;
  border-right: 0px;
  margin-top: -2px;
}
.about__item:nth-child(6) {
  border: 2px solid #9F37E1;
  border-top: 0px;
  border-right: 0px;
}
.about__item:nth-child(7) {
  border-radius: 0 0 14px 0;
  color: #fff;
  background: linear-gradient(180deg, #AB38DC 0%, #F642BE 100%);
}
.about__item:nth-child(7):hover .about__item-arrow {
  right: 15px;
  transform: scale(1.15);
}

.about__item-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
.about__item-description {
  font-size: 12px;
}
.about__item-arrow {
  position: absolute;
  bottom: 14px;
  right: 15px;
  transition: all 0.3s ease;
}



/*! STAGE OF WORK */
.partners__wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners__wrapper a {
  width: 18%;
  display: inline-block;
}
.partners__wrapper a img{
  width: 100%;
}



/*! WHOOCK IT */
.whoock-it__wrapper {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 140px;
}
.whoock-it__text {
  font-size: 64px;
  line-height: 112%;
  font-weight: 700;
}
.whoock-it__text span {
  font-size: 64px;
  font-weight: 700;
}
.whoock-it__button {
  display: inline-block;
  margin-left: auto;
  margin-top: 40px;
}
.start-creating {
  padding: 15px 70px;
  background: linear-gradient(90deg, #572EFD 0%, #FF43BB 25%, #572EFD 95%);
  color: #fff;
  border-radius: 30px;
  background-position: 0% 150%;
  transition: all 0.6s ease;
  background-size: 400%;
  font-weight: 600;
}
.start-creating:hover {
  background-position: 70% 140%;
  box-shadow: 0 0 25px 4px rgba(248, 96, 241, 0.368);
}


/*! FOOTER */
footer {
  background: #141414;
  padding: 115px 0;
  position: relative;
}
footer::before {
  content: url('../img/footer.png');
  width: calc(100% + 200px);
  transform: translateX(-100px);
  user-select: none;
  position: absolute;
  bottom: 140px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item-text {
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  background: linear-gradient(90deg, #fff 0%, #fff, 48%,  #572EFD 50%, #FF43BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 550%;
  transition: all 0.75s ease;
}
.footer__item-text:hover {
  background-size: 200%;
  background-position: 100% 0;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo-img {
  width: 80px;
}
.footer__logo-text {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  margin-left: 7px;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.footer__social-item {
  width: 33px;
  transition: all 0.3s ease;
  position: relative;
  bottom: 0;
}
.footer__social-item:hover {
  bottom: 4px;
}
.footer__social-img {
  width: 100%;
}